@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x:hidden;
}

.datatable {
    width:100%;
    padding:10px;
    border-radius: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    background-color: rgb(12, 12, 12);
    transition:.3s;
}

.left-bar {
    border-left: 5px solid rgb(79, 70, 229);
    background: linear-gradient(to left, white 50%,  rgb(79, 70, 229)50%) right;
    background-size: 200%;
    transition: .8s ease-out;
    display: inline-block;
}

.left-bar:hover {
    background-position: left;
    color:white;
}

.left-bar:hover span{
    color:white;
}

.left-bar-text {
    color: #7068FF;
}


.cus-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    border-radius: 10px;
    border:1px solid black;
    padding:10%;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Poppins', sans-serif;
    
    
}
.expansion {
    transition:.5s;
}
.expansion:hover{
    transform: scale(1.5);
    transition:.5s;
}

/* Override Bootstrap table header background color */
.datatable thead {
    background-color: #D5B946; /* Dark background color */
    border-radius: 30px;;
    color: black; /* Text color */
    padding:10px;
}

.datatable thead th{
    padding:25px;
}


/* Hover effect for table rows */
.datatable tbody tr:hover {
    background-color: #e9ecef; /* Hover background color */
}

/* Text color for table cells */
.datatable tbody td {
    color: white; /* Text color for cells */
    padding:25px;
}

.datatable tbody tr:nth-child(even) {
    background-color: rgb(12, 12, 12);; /* Alternate row color */
    color: white;
}

.datatable tbody tr:nth-child(odd) {
    background-color: rgb(24, 24, 24); /* Alternate row color */
    color: white;
}

.datatable tbody tr:hover{
    transition:.7s;
    transform: scale(1.012);
    z-index:100;
    border: 1px solid red;
}

.custom-nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.account-btn {
    background-color: rgb(79, 70, 229);
    color: white;
    padding:15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5%;
    transition: .5s;
}

.base-scrolled .account-btn {
    background-color: rgb(79, 70, 229);
    color: white;

    transition: .5s;
}

.scrolled .account-btn {
    background-color: white;
    color: black;

    transition: .5s;
}

.base-scrolled .account-btn:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

.scrolled .account-btn:hover {
    background-color: rgb(79, 70, 229);
    transition: .5s;
    color: white;
}

.red-text {
    text-decoration: none;
}

